transformers
accelerate
deepspeed
pandas
datasets
tqdm
peft
bitsandbytes
langchain_community
langchain
jieba
sentence-transformers
faiss-cpu
huggingface_hub
openai
flask
Flask-CORS
torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121