torch
torchvision
torchaudio
transformers
accelerate
deepspeed
pandas
datasets
tqdm
peft
bitsandbytes
langchain_community
langchain
jieba
sentence-transformers
faiss-gpu
faiss
huggingface_hub
openai
flask
Flask-CORS